<form action="/1" method="POST">
  <h2>Найти среднее число</h2>

  <div class="input-field">
    <input type="text" name="first">
    <label>1</label>
  </div>
  <div class="input-field">
    <input type="text" name="second">
    <label>2</label>
  </div>
  <div class="input-field">
    <input type="text" name="third">
    <label>3</label>
  </div>

  <button type="submit" class="btn">Найти</button>

  {{#if middle.length}}
<p>{{middle}}</p>
{{!-- <ul>
  {{#each middle}}
  <li class="todo">
    <form action="/complete" method="POST">
      <label>
        {{#if completed}}
        <input type="checkbox" checked name="completed">
        <span class="completed">{{title}}</span>
        {{else}}
        <input type="checkbox" name="completed">
        <span>{{title}}</span>
        {{/if}}

        <input type="hidden" value="{{_id}}" name="id">

        <button class="btn btn-small" type="submit">Save</button>
      </label>
    </form>
  </li>
  {{/each}}
</ul> --}}
{{else}}
<p>No numbers!</p>
{{/if}}
</form>